/*Font family*/
@font-face {
    font-family: coolvetica;
    src: url(coolvetica/coolvetica\ rg.otf);
}
body {
    font-family: 'Athiti', sans-serif !important;
    width: 100%;
    overflow-x: hidden;
}

a {
    font-weight: 300;
}
h1{
    font-family: coolvetica !important;
    font-weight: 700 !important;
    font-size: 64px !important;
}
h2 {
    font-family: coolvetica !important;
    font-weight: 500 !important;
    margin: 2rem 0 2rem 0 !important;
}

h3 {
    font-family: coolvetica !important;
    font-weight: 400 !important;
}

h4 {
    font-weight: 400 !important;
}
p{
    font-size: 20px;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    font-size: 20px;
    font-weight: 500;
}
navbar{
    position: fixed;
}

/*Header*/
.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
}

.hero{
    margin: 80px 0 60px 0;
}

section{
    margin-top: 100px;
}
/*Navbar*/
.navbar.navbar-expand-lg {
    background-color: #ffff;
}

.navbar-brand {
    font-weight: 600;
    font-size: 2rem !important;
}

.nav-link {
    font-weight: 600 !important;
    color: #000000 !important;
}

.link-items {
    justify-content: end;
}

/* Button */
.button {
    box-sizing: border-box;

    width: 230px;
    height: 50.25px;
    left: 0px;
    top: 389px;

    background: #C5FF75;
    border: 1.5px solid #000000;
    box-shadow: 4px 5px 0px #000000;
    border-radius: 10px;

}
.button:hover{
    background-color: #FF90E8;
}

a:hover{
    color: #FF90E8 !important;
}
.button-link:hover{
    color: #000000 !important;
}

.button-link {
    font-family: 'Athiti', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
   

    /* identical to box height */

    text-transform: uppercase;

    color: #000000 !important;
}


/* Projects*/

.pContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 24px;
    margin: 0 auto;
    width: 100%;



    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.project-image-container img{
    display: flex;
    box-sizing: border-box;
    align-content: center;
    width: fit-content;
    height: fit-content;
    /* background: #C5FF75; */
    border: 2px solid #000000;
    border-radius: 14px;
    box-shadow: 4px 5px 0px #000000;
    text-align: center;
    justify-content: center;
    margin: 0 0 2rem 0;
}

/* .project-image-container {
    width: fit-content;
    height: fit-content;
} */

.item:hover{
    transition: all 0.2s ease-in-out 0s;
    transform: translateY(-3px);
}
/* About */


.about-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 3rem;
    margin: 0 auto;
    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.item-container {
    width: 60%;

}

.about-image {
    display: flex;
    box-sizing: border-box;
    align-content: center;
    width: 314px;
    height: 294px;
    background: #C5FF75;
    border: 2px solid #000000;
    border-radius: 14px;
    box-shadow: 4px 5px 0px #000000;
    text-align: center;
justify-content: center;
}

.about-image img{
    width:249px;
    height: auto;
}
.resume{
    width: 50%;
    height: auto;
    
    
}
.form-container{
    margin: 0 auto;
    width: 50%

}


@media screen and (max-width: 600px) {
    h1{
        font-size: 58px !important;
    }
   

.project-image-container img{
    width: 342px;
   
}
.item-container {
    width: 100%;

}
.form-container{
    
    width: 100%

}
}